<h1>My Enrolls</h1>
<div class="d-flex flex-row flex-nowrap overflow-auto">
<% @user.enrolls.each do |enroll| %>
  <%= render partial: "enrolls/enroll_card", locals: {enroll: enroll} %>
<% end %>
</div>