<div class="row ps-3 m-auto">
  <h1 class="display-3"><%=@user.username %>'s Enrolls</h1>
</div>
<% if @user.get_enrolls.any? %>
  <div class="row ps-3 pt-3 m-auto">

  <div class="d-flex flex-row flex-nowrap overflow-auto">
<% @user.get_enrolls.each do |enroll| %>
    <% course = enroll.get_course %>
  <%= render partial: "enrolls/enroll_card", locals: {course: course, enroll: enroll} %>
<% end %>

</div>
  </div>
  <% else %>
  <%=image_tag("Empty Course_Enroll.png", height: 400 ,width:300  , class: "rounded mx-auto d-block") %>
  <div class="text-center ">
    <h5>Oh no, looks like your enrolls are empty.<br>Go enroll in some courses and start your learning journey</h5>
  </div>
<%end %>