<div class="p-1 text-center bg-light">
  <% if @user.avatar? %>
    <div class="mb-3">
      <%= image_tag(@user.avatar.url, :class => "rounded-circle mr-2 profile-pic-show", size: "150x150", alt: "Profile pic") %>
    </div>
  <% end %>
  <h1 class="display-5"><strong><%= @user.username %></strong></h1>
  <% if @user.id == current_user.id %>
    <a><%= link_to "account", "/account", class: "button is-primary" %></a>
  <% end %>

</div>