<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="<%=root_path %>">
        <img
          src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
          height="20"
          alt="MDB Logo"
          loading="lazy"
          style="margin-top: 2px;"
          />
      </a>

      <!-- Search form -->

    </div>
    <!-- Left elements -->

    </ul>
    <!-- Right elements -->
  </div>
</nav>