<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <%=link_to image_tag("Logo 100x100.png", height: 50 ,width:100 ), root_url %>


      <!-- Search form -->

    </div>
    <!-- Left elements -->

    </ul>
    <!-- Right elements -->
  </div>
</nav>