<div id="<%= dom_id section %>">
  <p>
    <strong>Title:</strong>
    <%= section.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= section.body %>
  </p>
  <div>
    <% @lessons.each do |lesson| %>
      <li><%= link_to lesson.title, lesson_path(lesson) %></li>
    <% end %>
  </div>

</div>
