<div class="py-3 d-flex justify-content-end">
  <div class="pr-3">
    <%= link_to course_url(section.course_id) do %>
      <i class="fas fa-arrow-left mr-3">Back To Course</i>
    <% end %>
  </div>
</div>



<div class="d-flex justify-content-center py-4">
  <h1 class="display-2"><%=section.title %></h1>
</div>

<div class="row">
  <div class="d-flex justify-content-center">
    <div class="col-xl-9 col-lg-8 justify-content-center">
      <div class="row">
        <p><%= section.body %></p>
      </div>
      <%= render partial: "sections/lesson_card_section", locals: {lessons: @lessons} %>
    </div>
  </div>

</div>


