<div class="row">
<div class="d-flex justify-content-center mt-4 ">
<div class="card w-75 text-center">
  <div class="card-header">
    <div class="float-start">
      <h3 class="card-title"><strong><%=section.title %></strong></h3>
      <p class="card-text"><%= section.lessons.size %> lessons</p>
    </div>
    <div class="float-end">
      <%= link_to "Open Section", section_url(section), class: "btn btn-outline-primary" %>

    </div>
  </div>
  <div class="card-body">
    <div>
      <%=section.body %>
    </div>
  </div>
</div>
</div>
  </div>