<!--<p style="color: green"><%#= notice %></p>-->
<body class="d-flex flex-column min-vh-100">
<%= render "shared_views/header_main" %>

<%= render @section %>


</body>
<%= render "shared_views/footer" %>