<%=render "shared_views/header" %>

<style>
    .social-link {
        width: 30px;
        height: 30px;
        border: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #666;
        border-radius: 50%;
        transition: all 0.3s;
        font-size: 0.9rem;
    }

    .social-link:hover,
    .social-link:focus {
        background: #ddd;
        text-decoration: none;
        color: #555;
    }
</style>

<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-2">Who is Minerva for?</h1>
        <h2 class="text-muted  mb-0">For the learners and educators in us. <br></h2>
        <h5><br>For the learner in each of us desiring to gain vast knowledge, unique views, and novel ideas. <br>
        Minevra is a source for that. A place where you can learn from across the world , and <em> grow</em>.</h5>


        <h5><br>For the educator in each of us aspiring to spread vast knowledge, unique views, and novel ideas. <br>
          Minevra is a platform for that. A place where your ideas can reach across the glob, and <em> grow together</em>.</h5>

      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-2">Our Mission Statement</h1>
        <h2 class="text-muted  mb-0">Learn Together. Grow Together. Change Together. <br></h2>
        <h5>Minerva was built as a platform for people to educate themselves and others.<br>
        We at Minerva believe change stems from the growth of a person's view which is rooted in lifelong learning.We want to be a part of this change.</h5>

        <h5> <blockquote class="blockquote">
          <p class="mb-0"><br>Learn continually - there's always "one more thing" to learn!.</p>
          <br><footer class="blockquote-footer text-end">Steve Jobs </footer>
        </blockquote></h5>



      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>


<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our team</h2>
        <p class="font-italic text-muted">Meat the team behind Project Minerva.</p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Dhivas Sugumar</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
            ><i class="fa fa-envelope"></i
            ></a>
            <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-linkedin-in"></i
            ></a>
          </ul>
        </div>
      </div>
      <!-- End-->





    </div>
  </div>
</div>


<%=render "shared_views/footer" %>