<li class="page-item">
  <% if not  current_page.first? %>
  <%= link_to raw(t 'views.pagination.previous'), url, rel: 'prev', remote: remote, class: 'page-link' %>
  <% else %>
  <a rel="prev", class="page-link" href="#">Prev</a>
  <%end %>
</li>
