<div id="<%= dom_id lesson %>">
  <p>
    <strong>Title:</strong>
    <%= lesson.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= lesson.body %>
  </p>

  <div>
    <% @videos.each do |video| %>
      <li><%= link_to video.title, video_path(video) %></li>
    <% end %>
  </div>

</div>
