<div class="text-center mb-5 ">
  <% if user_signed_in? %>
    <%if @course.enrolled?(current_user) %>
      <% @id = @enrolls.where(user_id: current_user.id, course_id: @course.id).ids %>
      <td><%= button_to "Unenroll",enroll_path(@id), method: :delete ,class:"btn btn-outline-danger"%></td>

    <%else %>
      <%= link_to "Enroll", enroll_course_url, class: "btn btn-outline-primary", :method => :post %>

    <%end %>
  <%else %>
    <%= link_to 'Sign In To Enroll', new_user_session_path, class: "btn btn-outline-primary" %>
  <%end %>
</div>