
<style>
    /* Default height for small devices */
    #intro-example {
        height: 400px;
    }

    /* Height for devices larger than 992px */
    @media (min-width: 1080px) {
        #intro-example {
            height: 400px;
        }
    }
</style>
<div
  id="intro-example"
  class="p-5 text-center bg-image"
  <%if course.banner? %>

  <%else %>
  style="
  background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');

  "
  <%end %>
>
  <%= image_tag course.banner.url, id: 'img_prev', width: 300, height: 300, alt: 'your image', class: 'img-thumbnail hidden' %>

  <div class="mask" style="background-color: rgba(0, 0, 0, 0.1);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3"><%= course.title %></h1>
        <h5 class="mb-4"><%=course.description %></h5>

      </div>
    </div>
  </div>



</div>

