<%= render 'shared_views/header_main' %>
<%if user_signed_in? and @course.instructor?(current_user)%>
  <h1 class="display-3 text-center pt-5">Editing course</h1>

  <%= render "form", course: @course %>
<% else %>
  <h1 class="display-1 text-center my-5">Error</h1>
<%end %>

<%= render 'shared_views/footer' %>


