
<a  class="category-card-link ps-3" href="<%=category_url category %>">
  <div class="category-card">
      <div class="category-card-image">
        <%= image_tag category.banner.url , alt: "category image" if category.banner? %>
      </div>
      <div class="category-card-title title-white">
        <%=category.category %>
        <div class="text-hover">
          <%= "#{category.course_count} courses" %>
        </div>
      </div>
  </div>
</a>



