<container class="banner-background">
  <div class="row justify-content-center my-3 ">
    <div class="col-5 banner-image-background">
      <div class="ms-5">
        <%=image_tag category.banner.url , width: 200, height: 200, class: "banner-image"%>
      </div>
    </div>
    <div class="col-7 align-self-center ">
      <div class="row justify-content-center">
        <h1 class="display-3 text-white"><%= category.category %></h1>

      </div>
    </div>
  </div>
</container>



