
<%=render "shared_views/header_main" %>
<%= render @category %>
<%@course_category = @category.courses%>
<%@course_category.each do |course|%>
<%= render partial: "courses/course_card", locals: {course: course} %>
<% end %>
<%= render "shared_views/footer" %>



<!--<div>-->
<!--  <%#= link_to "Edit this category", edit_category_path(@category) %> |-->
  <%#= link_to "Back to categories", categories_path %>

  <%#= button_to "Destroy this category", @category, method: :delete %>
<!--</div>-->
