<%= render "shared_views/header_main" %>

<div class="py-3">
  <h1 class="display-4 text-center">Users</h1>
</div>

<%@users.each do |user| %>
  <%= render partial: "users/admin/admin_cards/admin_users", locals: {user:user} %>
<% end %>

<%= render "shared_views/footer" %>